


 


body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
    color: rgb(14, 1, 1);
}

.skills{
    background-image: none;
}
@keyframes Slide_up{
    0%{
      transform:translateY(160px);
    }
   100%{
     transform: translateY(0);
    }
}
    
@media (min-width:1000px) {
    body{
        
        animation: Slide_up 1s ease;
    }
    
    

    

    .mobile-desc{
        display: none;
    }
    .mobile-links{
        display: none;
    }
    .mobile-images{
        display: none;
    }
    .mob-footer{
        display:none;
    }
    
}
@keyframes Slide_up{
    0%{
      transform:translateY(160px);
    }
   100%{
     transform: translateY(0);
    }
}
@media (max-width:1000px){
    body{
        animation: Slide_up 1s ease;

    }
    .comp-desc{
        display: none;
    }
    .comp-links{
        display: none;
    }
    .comp-images{
        display: none;
    }
    .comp-footer{
        display: none;
    }
}
@keyframes Slide_up{
    0%{
      transform:translateY(160px);
    }
   100%{
     transform: translateY(0);
    }
}
