


 


body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-image: url('https://media.istockphoto.com/id/926993450/photo/white-texture-background.jpg?b=1&s=170667a&w=0&k=20&c=0c2u3YpDDiQV3XIbnVabN9lECYanWod2QMG89rE_LM4=');
    
    color: rgb(14, 1, 1);
}

.skills{
    background-image: url('https://media.istockphoto.com/id/926993450/photo/white-texture-background.jpg?b=1&s=170667a&w=0&k=20&c=0c2u3YpDDiQV3XIbnVabN9lECYanWod2QMG89rE_LM4=');
}
@keyframes Slide_up{
    0%{
      transform:translateY(160px);
    }
   100%{
     transform: translateY(0);
    }
}
    
@media (min-width:1000px) {
    body{
        
        
    }
    
    

    

    .mobile-desc{
        display: none;
    }
    .mobile-links{
        display: none;
    }
    .mobile-images{
        display: none;
    }
    .mob-footer{
        display:none;
    }
    
}
@keyframes Slide_up{
    0%{
      transform:translateY(160px);
    }
   100%{
     transform: translateY(0);
    }
}
@media (max-width:1000px){
    body{
       
         margin:5px;

    }
    .comp-desc{
        display: none;
    }
    .comp-links{
        display: none;
    }
    .comp-images{
        display: none;
    }
    .comp-footer{
        display: none;
    }
}
@keyframes Slide_up{
    0%{
      transform:translateY(160px);
    }
   100%{
     transform: translateY(0);
    }
}
